<form>
<h1>Владельцы автомобилей</h1>
<div class="buttons">
    <button class="button_add" [routerLink]="'/dialog/new'" >+ Добавить</button>
    <button class="button_view" (click)="previewOwner()" [disabled]='selectedOwnerId == null'>Просмотр</button>
    <button class="button_edit" (click)="editOwner()" [disabled]='selectedOwnerId == null' >Редактировать</button>
    <button class="button_delete" (click)="removeOwner()" [disabled]='selectedOwnerId == null'>Удалить</button>
</div>

<table>
    <thead>
      <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Количество автомобилей</th>
      </tr>
    </thead>
    <tbody>
      <tr 
      *ngFor="let owner of owners" class="table_list"
          [class.selected]="owner.id === selectedOwnerId"
          (click)="onSelect(owner.id)">
        <td data-label="aLastName">{{owner.aLastName}}</td>
        <td data-label="aFirstName">{{owner.aFirstName}}</td>
        <td data-label="aMiddleName">{{owner.aMiddleName}}</td>
        <td data-label="aCars">{{owner.aCars.length}}</td>
      </tr>
    </tbody>
  </table>

</form>


